<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="style.css">
</head>
</head>
<body>
    <h1>ABOUT</h1>
    <nav>
        <div style="background-color: red;height: 100px;width: 100%;text-align:center;display:flexbox ;">
        <button>contact</button>
        <a href="/home" style="height: 50;width: 100px;background-color: black;">home</a>
        <a href="/about">about</a>
        <button href="#">email</button>
        <button>manu</button>
        <button>news</button>

        </div>
    
</body>
</html>