<footer style="justify-content: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 30px;text-align: center;margin-top: 30px;">
    <div style="background-color: aquamarine;">sumitkumbar @gmail.com</div>
    <div style="background-color: aquamarine;">+91 89716 668492</div>
    <div style="background-color: aquamarine;"><button style="height: 60px;">submit</button></div>
</footer>