    <%-include("C:/Users/sumit/OneDrive/Desktop/new2004/views/header.ejs") %> 
    </nav>
<body style="background-color:sandybrown;">
    <div class="body">
    <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
    <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>

    <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>

    <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p>
     <button style="height: 50px; width: 200px">click me</button> </div>
     <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>



      </div>
      <div class="body">
        <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
        <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
    
        <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
    
        <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p>
         <button style="height: 50px; width: 200px">click me</button> </div>
         <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
    
    
    
          </div>
          <div class="body">
            <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
            <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
        
            <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
        
            <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p>
             <button style="height: 50px; width: 200px">click me</button> </div>
             <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
        
        
        
              </div>
              <div class="body">
                <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
                <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
            
                <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
            
                <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p>
                 <button style="height: 50px; width: 200px">click me</button> </div>
                 <div id="st"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt consectetur, libero ullam possimus, assumenda officiis iure nam, perspiciatis aliquid aspernatur ipsum! Blanditiis, officia deserunt assumenda deleniti ab perspiciatis nemo qui.</p><button style="height: 50px; width: 200px">click me</button> </div>
            
            
            
                  </div>

</body>
  <%-include("C:Users/sumit/OneDrive/Desktop/new2004/views/foter.ejs")  %>
   
    
</body>
</html>